<div class="container p-5 d-flex justify-content-center align-items-center" style="height: 35vh">
    <form [formGroup]="codeForm" (ngSubmit)="onVerify()"  class="border-2 bg-info w-50">
        <h2 class="text-center m-2">Verify Email</h2>
        <div class="form-group m-2">
            <input type="text" name="code" formControlName="code" class="form-control m-2" placeholder="Enter the code" autocomplete="off">
        </div>
        <button class="btn btn-success  m-2" type="submit" [disabled]="codeForm.invalid">Verify</button>
    </form>
</div>