<div class="container p-5 d-flex justify-content-center align-items-center" style="height: 35vh;">
    <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()" class="w-50 bg-info border-2 ">
        <h2 class="text-center m-2 fs-2">Email</h2>
        <div class="form-group m-2">
            <label class="form-label">New Password</label>
            <input type="email" formControlName="email" class="form-control" placeholder="Enter your email"  name="email">
        </div>
        <button class="btn btn-success m-2" [disabled]="forgotForm.invalid" type="submit">Send Reset Link</button>
    </form>
</div>
